<template name="footer">
	<div id="footer">
      <div class="footer-container">
		    <p align="center">
          <i>Supported by</i>
          <a href="http://3scale.net" target="_blank"><img src="https://s3.amazonaws.com/kinlane-productions/events/api-strategy-practice-gluecon/3scale.png" width="150"></a>
          <a href="http://apievangelist.com" target="_blank"><img src="https://s3.amazonaws.com/kinlane-productions/events/api-strategy-practice-gluecon/api-evangelist-logo-400.png" width="150"></a>
          &nbsp;<a href="http://apitools.com" target="_blank"><img src="/img/apitools-logo.png" width="150"></a>
          &nbsp;
        </p>
      </div>
    </div>
</template>