<template name="homePageContent">
    <div id="homePageContent">
      <div class="row">
        <div class="col-md-6">
            <h2>APIs: Find And Be Found</h2>
            <p >
              Welcome to APIs.io - an experimental API Search service to help discover APIs on the web.
              The service uses the APIs.json proposed <a href="http://apisjson.org/" target="_blank">discovery format</a>. To find APIs type your request in the search box.
            </p>
            <p>
              To get listed follow the instructions in the <a href="{{pathFor 'FAQ'}}">FAQ</a>.</p>
            <p>
              The Search engine is also open source so you can run your own copy - find information <a href="{{pathFor 'opensource'}}">here</a>.
            </p>
            <p>
              We're looking for feedback. Tell us what you think.
            </p>
        </div>
        <div class="col-md-6">
            <h2>Looking for the old APIs.io ?</h2>
            <p>
              The directory service that ran here before is still alive - you can find it <a href="http://legacy.apis.io" target="_blank">here</a> and the source code is available <a href ="https://github.com/apisio/legacy.apis.io">here</a>.
            </p>
            <p>We’re working hard to add all the APIs that were listed in the previous directory to the new search engine as soon as possible - stay tuned!</p>
        </div>
      </div>
    </div>
</template>