<template name="homePageContent">
    <div id="homePageContent">
      <div class="row">
        <div class="col-md-6">
            <h2>APIs: Find And Be Found</h2>
            <p >
              Welcome to APIs.io - an experimental API Search service to help discover APIs on the web.
              The service uses the APIs.json proposed <a href="http://apisjson.org/" target="_blank">discovery format</a>. To find APIs type your request in the search box.
            </p>
            <p>
              To get listed follow the instructions in the <a href="{{pathFor 'FAQ'}}">FAQ</a>.</p>
            <p>
              The Search engine is also open source so you can run your own copy - find information <a href="{{pathFor 'opensource'}}">here</a>.
            </p>
            <p>
              We're looking for feedback. Tell us what you think.
            </p>
        </div>
        <div class="col-md-6">
            <table class="table">
              <caption><h2>Latest APIs added</h2></caption>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Maintainer</th>
                  <th>When</th>
                </tr>
              </thead>
              <tbody>
                  {{#each newAPIs}}
                <tr>
                  <td><a target ="_parent" href="{{pathFor route='index' query=searchQuery }}">{{name}}</a></td>
                  <td>
                      {{#with getMaintainerOfAPIfile apiFileUrl}}
                          <a href="{{maintainerLink maintainers}}">
                          {{displayMaintainerName maintainers}}</a>
                      {{/with}}
                  </td>
                  <td>{{ displayModifiedDate updatedAt}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
        </div>
      </div>
    </div>
</template>
