<template name="notFound">
	<h1> 404 - Not found </h1>
	<p>What you are looking for is not here.</p>
	<div style="max-width: 500px;" id="_giphy_lFV3wHAtwSIJW"></div>
<script>var _giphy = _giphy || []; _giphy.push({id: 'lFV3wHAtwSIJW',w: 350, h: 254});var g = document.createElement('script'); g.type = 'text/javascript'; g.async = true;g.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'giphy.com/static/js/widgets/embed.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(g, s);</script>
</template>