<template name="openSourcePage">
	<h1>Open Source</h1>
	<p>
	APIs.io is intentended to be an experimental search engine which we make better over time to adapt to the APIs.json format and also a useful resource to others who want to run their own search engine.
	<br />
	For this reason we’ve open sourced the code which you can find here: [coming soon] 
	</p>
	<p>
	The implementation is in <a href="http://meteor.com">Meteor</a>, a node.js Framework to develop apps.
	</p>
	<p>
	We’ll update the code over time and gratefully accept feedback. Send this to <a href="mailto:apisio@3scale.net">apisio@3scale.net</a>. 
	</p>
	<p>
	If you run a search engine you’ll soon be able to bootstrap it from the index of APIs.json files available at APIs.io using our <a href="{{pathFor 'apiSearchAPIIndex'}}">API</a>.
	</p>
</template>